* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat' 'Arial';
}

section {
    background-color: rgb(18, 26, 31);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container {
    width: 90%;
    max-width: 400px;
    background-color: rgb(39, 55, 59);
    border-radius: 8px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

.digital-display {
    background-color: rgb(182, 182, 182);
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
}

.buttons-group {
    color: whitesmoke;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
